name: Deploy GitHub Page

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    # env:
    #    HUGO_CACHEDIR: /tmp/hugo_cache
    concurrency:
        group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - uses: actions/setup-node@v4
        with:
          node-version: 'latest'
      #     cache: 'npm'
      #   cache-dependency-path: '**/package-lock.json'

      # - uses: actions/cache@v4
      #  with:
      #    path: ${{ env.HUGO_CACHEDIR }}
      #    key: ${{ runner.os }}-hugomod-${{ hashFiles('**/go.sum') }}
      #    restore-keys: |
      #        ${{ runner.os }}-hugomod-

     # - name: Setup Ruby
     #   uses: ruby/setup-ruby@v1
     #   with:
     #      ruby-version: latest

     # - run: npm ci
      - name: Build Hugo
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          # deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
            github_token: ${{ secrets.GITHUB_TOKEN }}
          # external_repository: docura/docura.github.io
            publish_branch: gh-pages
            publish_dir: ./public
          # cname:
